<div class="partial">
  <h3><%= link_to '宿泊予約アプリ', root_path,class: "p-btn" %></h3>
  <ul>
    <% if user_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "p-btn" %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path, class: "p-btn" %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path, class: "p-btn" %>
      </li>
    <% end %>
  </ul>
</div>