header {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border-bottom: 7px;
}

.partial {
    color: white;
    background-color: black;
    text-align: center;
    padding: 1px;
}

a {
    text-decoration:none; 
}

a.p-btn:visited {
    color: white;
}

li{
    list-style:none;
    float:left;
    margin-left: 2rem;
}

ul{
    position: absolute;
    display: flex;
    display:inline-block;
    right: 50px;
    top: 15px;
    padding: 0;
}

.open, .close {
    border: 1px solid #333333;
    width: 70px;
    cursor: pointer;
    background-color: darkgray;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 130px;
    background-color: lightgray;
    display: none;
}